[submodule "Duo_RC1A/Libs/mod-kicad-footprints"]
	path = Duo_RC1A/Libs/mod-kicad-footprints
	url = https://github.com/portalmod/mod-kicad-footprints.git
[submodule "Duo_RC1A/Libs/mod-kicad-libs"]
	path = Duo_RC1A/Libs/mod-kicad-libs
	url = https://github.com/portalmod/mod-kicad-libs.git
